<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Contents/Styles/Site.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" type="text/css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <title>M183 @(string.IsNullOrEmpty(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>
</head>
<body>
    <div class="header">
        <h1>
            M183
        </h1>
    </div>
    <div class="navigation">
        <ul>
            @Html.ActionMenuItem("Home", "Index", "Home", "", "")

            @if (BusinessUser.Current.IsAuthenticated)
            {
                @Html.ActionMenuItem("Logout", "Logout", "Login", "control", "")
            }
            else
            {
                @Html.ActionMenuItem("Register", "Index", "Register", "control", "")
                @Html.ActionMenuItem("Login", "Index", "Login", "control", "")
            }
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        Copyright ⓒ @DateTime.Now.Year Junhyeok Han, GIBZ. All rights reserved.
    </div>
</body>
</html>
