@model PostViewModel

@using (Html.BeginForm("EditPost", "Post", new { area = "user" }, FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
{
    <div class="block long">
        <h2>@Model.Title @(Model.DeletedOn != null ? "(Delete on " + Model.DeletedOn + ")" : "")</h2>
        <p>@Model.Content</p>
        <p>@Model.Description</p>
        <p>Written on: @Model.CreatedOn</p>
        <p>@(Model.EditedOn == null ? "" : "Edited on:" + Model.EditedOn)</p>

        @if (BusinessUser.Current.IsAuthorisedToPost(Model.Id))
        {
            @Html.ActionLink("Edit", "EditPost", "Post", new { area = "user" }, new { @class = "pure-button pure-button-primary" })
            @Html.ActionLink("Delete", "DeletePost", "Post", new { area = "user", postId = Model.Id }, new { @class = "pure-button pure-button-error" })
        }
    </div>
}