@model PostViewModel

@using (Html.BeginForm("EditPost", "Post", new { area = "" }, FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
{
    <div class="block long">
        <h2 class="title">
            @Model.Title @(Model.DeletedOn != null ? "(Delete on " + Model.DeletedOn + ")" : "")
            <span class="control">
                @Html.ActionLink("Detail >", "PostDetail", "Post", new { area = "", postId = Model.Id }, new { @class = "pure-button" })
            </span>
        </h2>
        <p>@Model.Content</p>
        <p>@Model.Description</p>
        <p>Written on: @Model.CreatedOn</p>
        <p>@(Model.EditedOn == null ? "" : "Edited on:" + Model.EditedOn)</p>

        @if (BusinessUser.Current.IsAuthorisedToPost(Model.Id) && Model.DeletedOn == null)
        {
            @Html.ActionLink("Edit", "EditPost", "Post", new { area = "", postId = Model.Id }, new { @class = "pure-button pure-button-primary space-right" })
            @Html.ActionLink("Delete", "DeletePost", "Post", new { area = "", postId = Model.Id }, new { @class = "pure-button pure-button-error" })
        }
    </div>
}