@model PostViewModel

@{
    ViewBag.Title = "Edit Post";
}

<h1>Edit Post</h1>
<div class="block long">
    @using (Html.BeginForm("EditPost", "Post", new { area = "" }, FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
    {
        @Html.ValidationSummary()

        @Html.Hidden("Id", MD5Hash.HashId(Model.Id))

        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)

        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description)

        @Html.LabelFor(m => m.Content)
        @Html.TextBoxFor(m => m.Content)

        @Html.LabelFor(m => m.IsPublished)
        <div>
            @Html.CheckBoxFor(m => m.IsPublished)
        </div>

        <input class="pure-button pure-button-primary" type="submit" name="submit" value="Save" />
    }
</div>